# bundler
/.bundle/
/Gemfile*lock
/vendor/

# building and packaging
/ext/selma/**/selma.dll
/ext/selma/include
/gems/
/lib/selma/**/selma.bundle
/lib/selma/**/selma.so
/lib/selma/**/selma.dylib
/pkg/
/ports/
/tmp/

# code coverage
/coverage/

# documentation
/html/

# editors and tags
.classpath
.project
.settings
build
TAGS
tags

# auto-formatting
/ext/**/*.orig

# mac
.DS_Store/

# Vagrant
/.vagrant/

# directories or files named after issues, and debugging
/[0-9][0-9][0-9]*
/*.log

test/progit
