[package]
name = "selma"
version = "1.0.0"
edition = "2021"
rust-version = "1.75.0"
publish = false

[dependencies]
enum-iterator = "1.5"
escapist = "0.0.2"
magnus = "0.6"
lol_html = "1.2"

[lib]
name = "selma"
crate-type = ["cdylib"]
